vim/bundle/*
!vim/bundle/Vundle

emacs/*
!emacs/README.org
!emacs/init.el
!emacs/custom.el
!emacs/themes
!emacs/themes/*
!emacs/init
!emacs/init/*
!emacs/.gnus
!emacs/org
!emacs/org/*
*/auto*
*/auto
*.log
*.pdf
*.aux
*.out

init-done

*~

nvim/files/plugged
nvim/files/plugged/*

\#*\
