"*":
  "atom-beautify":
    general:
      _analyticsUserId: "djreed"
      beautifyEntireFileOnSave: false
    ruby:
      default_beautifier: "Ruby Beautify"
  "atom-fuzzy-grep":
    grepCommandString: "ack -i --nocolor --nogroup --column"
  "atomic-emacs": {}
  "autocomplete-ruby": {}
  core:
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "intentions"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "86c92ee3-52e7-4de5-ba8b-fad388245b3f"
  "fuzzy-finder": {}
  "linter-haml": {}
  "linter-ui-default": {}
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    plugins:
      codeglance: false
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      "minimap-quick-highlight": true
      "minimap-quick-highlightDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "platformio-ide-terminal":
    core:
      scrollback: 100000
    toggles:
      autoClose: true
      runInsertedText: false
  "ruby-block": {}
  welcome:
    showOnStartup: false
