"*":
  "atom-beautify":
    ruby:
      beautify_on_save: true
      default_beautifier: "Ruby Beautify"
      rubocop_path: "/Users/djreed/.rvm/gems/ruby-2.4.2/bin/rubocop"
  "atom-fuzzy-grep":
    grepCommandString: "ack -i --nocolor --nogroup --column"
  "autocomplete-ruby":
    rsensePath: "/Users/djreed/.rvm/gems/ruby-2.4.2/bin/rsense"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "86c92ee3-52e7-4de5-ba8b-fad388245b3f"
  "fuzzy-finder": {}
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
