"*":
  "atom-beautify":
    general:
      _analyticsUserId: "djreed"
      beautifyEntireFileOnSave: false
    go: {}
  "atom-fuzzy-grep":
    grepCommandString: "ack -i --nocolor --nogroup --column"
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#b0e457"
      predefinedColor: "Purple"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    enableExtendedUnicodeSupport: true
  "autocomplete-python":
    outputProviderErrors: true
    useKite: false
  core:
    automaticallyUpdate: true
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-terraform-syntax"
      "ide-python"
      "terminal-plus"
      "go-debug"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  editor:
    autoIndent: false
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "86c92ee3-52e7-4de5-ba8b-fad388245b3f"
  "fuzzy-finder":
    ignoredNames: [
      "**/node_modules/*"
    ]
  "git-blame":
    colorCommitAuthors: true
    columnWidth: 247
    ignoreWhiteSpaceDiffs: true
  "go-plus":
    autocomplete:
      suppressBuiltinAutocompleteProvider: false
    config:
      compileOnSave: false
    format: {}
    lint:
      tool: "golangci-lint"
    panel:
      fontSize: "1em"
    test:
      coverageDisplayMode: "gutter"
  "ide-gopls": {}
  "ide-python": {}
  "linter-ui-default":
    panelHeight: 300
  "python-tools": {}
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    hideVcsIgnoredFiles: true
  welcome:
    lastViewedChangeLog: "1.114.2024032215"
    showOnStartup: false
    showSunsettingOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnlyLines: true
    removeTrailingWhitespace: false
".console.python.text":
  editor:
    autoIndent: true
".erb.html.text":
  editor:
    autoIndent: true
".gemfile.ruby.source":
  editor:
    autoIndent: true
".go.source":
  editor:
    autoIndent: true
".gohtml.html.text":
  editor:
    autoIndent: true
".gotemplate.source":
  editor:
    autoIndent: true
".html.liquid.text":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    showInvisibles: false
".html.ruby.text":
  editor:
    autoIndent: true
".js.rails.source source.jquery.js":
  editor:
    autoIndent: true
".python.regexp.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
".python.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
".python.text.traceback":
  editor:
    autoIndent: true
".ruby.source":
  editor:
    autoIndent: true
".source.sum":
  editor:
    autoIndent: true
