# Your keymap
#
# Pulsar keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Pulsar keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Pulsar's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://pulsar-edit.dev/docs/launch-manual/sections/using-pulsar/#customizing-keybindings
# * https://pulsar-edit.dev/docs/launch-manual/sections/behind-pulsar#keymaps-in-depth
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * https://pulsar-edit.dev/docs/launch-manual/sections/core-hacking/#check-your-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Pulsar Launch Manual:
# https://pulsar-edit.dev/docs/launch-manual/sections/using-pulsar/#configuring-with-cson
# General options
'atom-text-editor':

  # File editing
  'ctrl-,': 'core:move-to-top'
  'ctrl-.': 'core:move-to-bottom'

  # Project traversing
  'ctrl-x ctrl-o': 'window:focus-next-pane'
  'ctrl-x ctrl-g': 'project-find:show'
  'ctrl-x ctrl-b': 'fuzzy-finder:toggle-buffer-finder'

  # Utility toggles
  'ctrl-l': 'line-numbers:toggle'
  'ctrl-i': 'window:toggle-invisibles'
  'ctrl-cmd-w': 'editor:toggle-soft-wrap'
  'cmd-k m': 'quick-highlight:toggle'
  'cmd-k M': 'quick-highlight:clear'
  'ctrl-b': 'git-blame:toggle'

  # Navigation
  #'ctrl-b': 'atomic-emacs:backward-char'
  'left': 'atomic-emacs:backward-char'
  'ctrl-f': 'atomic-emacs:forward-char'
  'right': 'atomic-emacs:forward-char'
  'alt-b': 'atomic-emacs:backward-word'
  'alt-left': 'atomic-emacs:backward-word'
  'alt-f': 'atomic-emacs:forward-word'
  'alt-right': 'atomic-emacs:forward-word'
  'ctrl-alt-b': 'atomic-emacs:backward-sexp'
  'ctrl-alt-f': 'atomic-emacs:forward-sexp'
  'ctrl-alt-p': 'atomic-emacs:backward-list'
  'ctrl-alt-n': 'atomic-emacs:forward-list'
  'alt-{': 'atomic-emacs:backward-paragraph'
  'alt-}': 'atomic-emacs:forward-paragraph'
  'alt-m': 'atomic-emacs:back-to-indentation'
  'ctrl-a': 'editor:move-to-beginning-of-line'
  'ctrl-s': 'find-and-replace:show'
  'ctrl-r': 'find-and-replace:show'
  'alt-<': 'core:move-to-top'
  'alt->': 'core:move-to-bottom'

  # Killing & Yanking
  'alt-backspace': 'atomic-emacs:backward-kill-word'
  'alt-delete': 'atomic-emacs:backward-kill-word'
  'alt-d': 'atomic-emacs:kill-word'
  'ctrl-k': 'atomic-emacs:kill-line'
  'ctrl-w': 'atomic-emacs:kill-region'
  'alt-w': 'atomic-emacs:copy-region-as-kill'
  'ctrl-alt-w': 'atomic-emacs:append-next-kill'
  'ctrl-y': 'atomic-emacs:yank'
  'alt-y': 'atomic-emacs:yank-pop'
  'alt-shift-y': 'atomic-emacs:yank-shift'

  # Editing
  'alt-\\': 'atomic-emacs:delete-horizontal-space'
  'alt-^': 'atomic-emacs:delete-indentation'
  'ctrl-o': 'atomic-emacs:open-line'
  'alt-space': 'atomic-emacs:just-one-space'
  'ctrl-t': 'atomic-emacs:transpose-chars'
  'alt-t': 'atomic-emacs:transpose-words'
  'ctrl-x ctrl-t': 'atomic-emacs:transpose-lines'
  'ctrl-x ctrl-l': 'atomic-emacs:downcase-word-or-region'
  'alt-l': 'atomic-emacs:downcase-word-or-region'
  'ctrl-x ctrl-u': 'atomic-emacs:upcase-word-or-region'
  'alt-u': 'atomic-emacs:upcase-word-or-region'
  'alt-c': 'atomic-emacs:capitalize-word-or-region'
  'ctrl-j': 'editor:newline'
  'ctrl-m': 'editor:newline'
  'ctrl-/': 'core:undo'
  'ctrl-_': 'core:undo'
  'alt-/': 'autocomplete-plus:activate'
  'alt-q': 'autoflow:reflow-selection'
  'alt-;': 'editor:toggle-line-comments'


  # Marking & Selecting
  'ctrl-space': 'atomic-emacs:set-mark'
  'ctrl-alt-space': 'atomic-emacs:mark-sexp'
  'ctrl-x h': 'atomic-emacs:mark-whole-buffer'
  'ctrl-x ctrl-x': 'atomic-emacs:exchange-point-and-mark'

  # UI
  'ctrl-g': 'core:cancel'
  'ctrl-x ctrl-s': 'core:save'
  'ctrl-x ctrl-w': 'core:save-as'
  'alt-x': 'command-palette:toggle'
  'alt-.': 'symbols-view:toggle-file-symbols'
  'ctrl-x ctrl-f': 'atomic-emacs:find-file'
  'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-x k': 'core:close'
  'ctrl-x 0': 'pane:close'
  'ctrl-x 1': 'atomic-emacs:close-other-panes'
  'ctrl-x 2': 'pane:split-down'
  'ctrl-x 3': 'pane:split-right'
  'ctrl-x o': 'window:focus-next-pane'
